In [1]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]

In [2]:
# Print each high school in list
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [2]:
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [3]:
#Print each dictionary
for x in high_school_types:
    print(x)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [1]:
#List of schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [2]:
#Add the Pandas dependency
import pandas as pd

In [3]:
#Create a pandas series from list
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [7]:
for x in school_series:
    print(x)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [8]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [9]:
#Create a data frame from dictionary
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [10]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [11]:
#Initialize a new data frame for the lists
schools_df = pd.DataFrame()

#Add the lists
schools_df['School ID'] = school_id
schools_df['School Name'] = school_name
schools_df['Type'] = type_of_school
schools_df

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [12]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'School Name':school_name, 'Type':type_of_school}

#Create a data frame from dictionary
schools_df = pd.DataFrame(high_schools_dict)
schools_df

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [14]:
school_id = [0,1,2,3,4,5,6,7]
school_name = ['Huang HS','Figueroa HS','Shelton HS','Hernandez HS',"Griffin HS",'Wilson HS',"Cabrera HS",'Bailey HS']
school_type = ['District','District','Charter','District','Charter','Charter','Charter','District']

school_df = pd.DataFrame()
school_df['School ID'] = school_id
school_df['School Name'] = school_name
school_df["Type"] = school_type
school_df

   School ID   School Name      Type
0          0      Huang HS  District
1          1   Figueroa HS  District
2          2    Shelton HS   Charter
3          3  Hernandez HS  District
4          4    Griffin HS   Charter
5          5     Wilson HS   Charter
6          6    Cabrera HS   Charter
7          7     Bailey HS  District